.container {
  display: flex;
  flex-direction: column; /* Spaltenlayout */
}

.gridContainer {
  flex-grow: 1; /* Lassen Sie den Grid-Container so groß wie möglich wachsen */
  display: flex;
  flex-direction: column; /* Spaltenlayout */
  align-items: center; /* Vertikales Zentrieren der Grid-Elemente */
  border: 1px solid #ccc;
}

.imageContainer {
  display: flex;
  justify-content: center; /* Horizontales Zentrieren des Bildes */
  align-items: center; /* Vertikales Zentrieren des Bildes */
}

.image {
  width: 100%;
  height: auto;
  border-radius: 2%;
}
